@import "tailwindcss";

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: "Noto Sans Bengali", sans-serif;
}
.Pagearea {
  padding-left: 10%;
  padding-right: 10%;
}
