@import "tailwindcss";

@theme {
  --color-text: #222;
  --color-text-second: #555;
  --color-text-third: #777;
  --color-background: #fff;
  --color-background-second: #f5f5f5;
  --color-theme: #0044ff;
  --color-border: #ddd;
  --color-border-second: #eee;
}

.Clolor {
  color: #0044ff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: "Noto Sans Bengali", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}
img {
  object-fit: cover;
}
.Pagearea {
  padding-left: 10%;
  padding-right: 10%;
}

button,
input {
  outline: none;
  display: block;
}

h1 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
h2 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
h3 {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
h6 {
  font-size: 16px;
  font-weight: 600;
}

p {
  line-height: 25px;
}

.pra {
  line-height: 30px;
}
